[user]
	name = Klearchos Angelos Gkountras
	email = angelosdkg@gmail.com
	signingkey = E588448C3F7DA01F
[github]
user = angelosdkg
token = github_pat_random-numbers
[commit]
	gpgsign = true
[gpg]
	program = /usr/bin/gpg
[core]
	editor = nvim
